@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
#banner{
    position: relative;
    background-image:url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    height: 45vh;
    text-shadow: 5ex;
}
#banner span{
    position: absolute;
    opacity: .8;
    width:100%;
    height: 100%;
    display: block;
}
#banner .texto{
   z-index: 2; 
   margin-top: 100px;
   -webkit-text-stroke: 0.5px black;
   color: white; 
}
#banner .titulo{
    font-size: 3rem;
    font-weight: 700;
}

@media all and (max-width:768px){
#banner .titulo
    font-size: 2rem;
}
#hero{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-image: url(../assets/rainbow.jpg);
    background-repeat: repeat;
    background-size: repeat;
    background-position: center;
    
}
#hero .imagenes{
    border-radius: 2.5rem;

}